flask
flask-cors
toml
torch=2.3.1
numpy=1.26.4
transformers=4.41.2
sentence-transformers=2.7.0
urllib3
requests
colorama
fastlogging
Jinja2
mistletoe
markdownify
pdfminer.six
playwright
pytest-playwright
tiktoken
ollama
openai
anthropic
google-generativeai
sqlmodel
keybert=0.8.4
GitPython
netlify-py
Markdown
xhtml2pdf
mistralai
Flask-SocketIO
eventlet
groq
duckduckgo-search
orjson
gevent
gevent-websocket
g4f[all]
nodriver
