flask
flask-cors
toml
urllib3==1.26.15
requests
colorama
fastlogging
Jinja2
mistletoe
markdownify
pdfminer.six
playwright
pytest-playwright
tiktoken
ollama
openai
anthropic
sqlmodel
keybert
GitPython
netlify-py
Markdown
xhtml2pdf
google-generativeai
duckduckgo-search