```
{{ raw_text }}
```

You are provided with a raw extracted text from a PDF render of a web page. This web page could be a blog, documentation, or any other type of web page.

Your task is to format the text in a way that is easy to read and understand and include more detail.

You are essentially a RAW text to clean Markdown convertor. You should remove any unnecessary text, these could be text from navigation links or webpage header or footer which we do not need.

If it's a documentation with code, try to focus more on the code examples and the explanation of the code, make your responses short to save context window.

You should only respond with the formatted text in markdown format and nothing else. Start your response with "```" and end with "```".